altgraph==0.17.5
black==25.12.0
click==8.3.1
colorama==0.4.6
coverage==7.13.0
docstring-to-markdown==0.17
importlib_metadata==8.7.1
iniconfig==2.3.0
jedi==0.19.2
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==25.0
parso==0.8.5
pathspec==0.12.1
pefile==2024.8.26
platformdirs==4.5.1
pluggy==1.6.0
Pygments==2.19.2
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.11
pyright==1.1.407
pytest==9.0.2
pytest-cov==7.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.14.0
pytokens==0.3.0
pywin32-ctypes==0.2.3
setuptools==80.9.0
typing_extensions==4.15.0
tzdata==2025.3
ujson==5.11.0
uv==0.9.18
zipp==3.23.0
